<div th:replace="~{ app :: layout ('博客详情', ~{::#css}, ~{::#main}, ~{::#js}) }" xmlns:th="http://www.thymeleaf.org">
    <div id="css">
        <link rel="stylesheet" href="/build/assets/backend.css">
        <link rel="stylesheet" href="/vendor/tocbot/dist/tocbot.css">
        <style>
            .cherry {
                height: unset;
                /*box-shadow: none;*/
            }
            .cherry-markdown a.anchor:before {
                content: "";
            }
            .cherry-markdown img {
                max-width: 100% !important;
            }
            .cherry-markdown video {
                max-width: 100% !important;
            }
        </style>
    </div>
    <main id="main" class="my-2rem">
        <article class="blog-show container">
            <div class="row">
                <div class="col-lg-8">
                    <h1 th:text="${blog.title}">maven 加速，修改镜像源</h1>
                    <p class="meta text-muted mb-2rem"><a href="#">admin</a> - <i th:text="${#temporals.format(blog.created_at, 'yyyy-MM-dd HH:mm:ss')}"></i></p>
                    <div th:data-content="${blog.content}" id="blog-content">

                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div id="outline" class="js-toc toc sticky-top d-none d-lg-block animate__animated animate__fadeInRight animate__delay-1s"></div>
                </div>
            </div>
        </article>
    </main>

    <div id="js">
        <script type="module" src="/build/assets/backend.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const cherry = new Cherry({
                    id: 'blog-content',
                    value: document.getElementById('blog-content').dataset.content,
                    editor: {
                        defaultModel: 'previewOnly',
                    },
                    previewer: {
                        enablePreviewerBubble: false,
                    },
                    toolbars: {
                        // 打开侧边目录
                        toc: {
                            updateLocationHash: true,
                            defaultModel: 'pure',
                            position: 'fixed',
                        },
                    }
                });
            });
        </script>

       <!-- <script type="module" src="/vendor/tocbot/dist/tocbot.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // 获取具有特定类名的元素
                const cherry_color_text = document.getElementsByClassName('cherry-color-text');
                const cherry_color_bg = document.getElementsByClassName('cherry-color-bg');

                // 由于 getElementsByClassName 返回的是类数组对象，转换为数组后操作
                Array.from(cherry_color_text).forEach(element => {
                    const h3Elements = element.querySelectorAll('h3'); // 获取 h3 元素
                    h3Elements.forEach(h3 => h3.remove()); // 删除 h3 元素
                });

                Array.from(cherry_color_bg).forEach(element => {
                    const h3Elements = element.querySelectorAll('h3'); // 获取 h3 元素
                    h3Elements.forEach(h3 => h3.remove()); // 删除 h3 元素
                });
                tocbot.init({
                    tocSelector: '.js-toc',
                    contentSelector: '.js-toc-content',
                    headingSelector: 'h1, h2, h3, h4, h5, h6',
                    hasInnerContainers: true,
                    collapseDepth: 6,
                });
            });
        </script>-->
    </div>


</div>