<div th:replace="~{ app :: layout ('博客详情', ~{::#css}, ~{::#main}, ~{::#js}) }" xmlns:th="http://www.thymeleaf.org">
    <link id="css" rel="stylesheet" href="/vendor/tocbot/dist/tocbot.css">

    <main id="main" class="my-2rem">
        <article class="blog-show container">
            <div class="row">
                <div class="col-lg-8">
                    <h1 th:text="${blog.title}">maven 加速，修改镜像源</h1>
                    <p class="meta text-muted mb-2rem"><a href="#">admin</a> - 2024-11-18 08:35:28</p>
                    <div class="animate__animated animate__fadeInLeft js-toc-content" th:text="${blog.content}">
                        <h3 id="what">What</h3>
                        <p>正文显示在这...</p>
                        <p>正文显示在这...</p>
                        <p>正文显示在这...</p>
                        <h4 id="are">are</h4>
                        <p>正文显示在这...</p>
                        <p>正文显示在这...</p>
                        <p>正文显示在这...</p>
                        <p>正文显示在这...</p>
                        <p>正文显示在这...</p>
                        <p>正文显示在这...</p>
                        <h4 id="you">you</h4>
                        <p>正文显示在这...</p>
                        <p>正文显示在这...</p>
                        <p>正文显示在这...</p>
                        <p>正文显示在这...</p>
                        <p>正文显示在这...</p>
                        <h3 id="doing">Doing</h3>
                        <p>正文显示在这...</p>
                        <p>正文显示在这...</p>
                        <p>正文显示在这...</p>
                        <h4 id="now">now</h4>
                        <p>正文显示在这...</p>
                        <p>正文显示在这...</p>
                        <h4 id="blablabla">blablabla...</h4>
                        <p>正文显示在这...</p>
                        <p>正文显示在这...</p>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div id="outline" class="js-toc toc sticky-top d-none d-lg-block animate__animated animate__fadeInRight animate__delay-1s"></div>
                </div>
            </div>
        </article>
    </main>

    <div id="js">
        <script type="module" src="/vendor/tocbot/dist/tocbot.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                tocbot.init({
                    tocSelector: '.js-toc',
                    contentSelector: '.js-toc-content',
                    headingSelector: 'h1, h2, h3, h4, h5, h6',
                    hasInnerContainers: true,
                    collapseDepth: 6,
                });
            });
        </script>
    </div>


</div>