<div th:replace="~{ blog/app :: layout ('首页', _, ~{::#main}, _) }" xmlns:th="http://www.thymeleaf.org">

    <div class="container" id="main">
        <div class="mx-lg-auto">
            <div class="row">
                <div class="col-md-6">
                    <article class="border-bottom h-100 pb-5  pt-md-0">
                        <div class="row justify-content-between">
                            <div class="col-7">
                                <h2 class="mb-2 h5"><a class="text-inherit" href="/blog/">||||||||||||||||||||||||||||||</a></h2>
                                <div class="small text-muted">
                                    <a href="#">admin</a>
                                    <span> - </span>
                                    <span>2023-06-11 14:59:23.0</span>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="d-flex">
                                    <a href="/blog/" class="w-100">
                                        <img class="img-fluid shadow-sm rounded ratio-16x9" src="../img/cover/default-cover.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="border-bottom h-100 pb-5 pt-5 pt-md-0">
                        <div class="row justify-content-between">
                            <div class="col-7">
                                <h2 class="mb-2 h5"><a class="text-inherit" href="/blog/">maven 加速，修改镜像源</a></h2>
                                <div class="small text-muted">
                                    <a href="#">admin</a>
                                    <span> - </span>
                                    <span>2023-06-11 14:59:23.0</span>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="d-flex">
                                    <a href="/blog/" class="w-100">
                                        <img class="img-fluid shadow-sm rounded ratio-16x9" src="../img/cover/maven-cover.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="border-bottom h-100 pb-5 pt-5 ">
                        <div class="row justify-content-between">
                            <div class="col-7">
                                <h2 class="mb-2 h5"><a class="text-inherit" href="/blog/">composer 加速，修改镜像源</a></h2>
                                <div class="small text-muted">
                                    <a href="#">admin</a>
                                    <span> - </span>
                                    <span>2023-06-11 14:59:23.0</span>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="d-flex">
                                    <a href="/blog/" class="w-100">
                                        <img class="img-fluid shadow-sm rounded ratio-16x9" src="../img/cover/composer-cover.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="border-bottom h-100 pb-5 pt-5 ">
                        <div class="row justify-content-between">
                            <div class="col-7">
                                <h2 class="mb-2 h5"><a class="text-inherit" href="/blog/">yarn 加速，修改镜像源</a></h2>
                                <div class="small text-muted">
                                    <a href="#">admin</a>
                                    <span> - </span>
                                    <span>2023-06-11 14:59:23.0</span>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="d-flex">
                                    <a href="/blog/" class="w-100">
                                        <img class="img-fluid shadow-sm rounded ratio-16x9" src="../img/cover/yarn-cover.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="border-bottom h-100 pb-5 pt-5 ">
                        <div class="row justify-content-between">
                            <div class="col-7">
                                <h2 class="mb-2 h5"><a class="text-inherit" href="/blog/">npm 加速，修改镜像源</a></h2>
                                <div class="small text-muted">
                                    <a href="#">admin</a>
                                    <span> - </span>
                                    <span>2023-06-11 14:59:23.0</span>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="d-flex">
                                    <a href="/blog/" class="w-100">
                                        <img class="img-fluid shadow-sm rounded ratio-16x9" src="../img/cover/npm-cover.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>


        </div>
    </div>
</div>


<script type="module" src="/build/assets/app.js"></script>
</body>
</html>
