<div th:replace="~{ blog/app :: layout ('详情', ~{::#css}, ~{::#main}, ~{::#js}) }" xmlns:th="http://www.thymeleaf.org">

    <link rel="stylesheet" href="/vendor/tocbot/dist/tocbot.css" id="css">

    <section class="single-post container" id="main">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="title">maven 加速，修改镜像源</h1>
                <p class="meta text-muted">
                    <a href="#">admin</a>
                    <span> - </span>
                    2023-06-11 14:59:23.0
                </p>
                <div id="vditor-preview-element" class="markdown-body js-toc-content animate__animated animate__fadeInLeft vditor-reset"><h3 id="为什么慢">为什么慢</h3>
                    <p>执行 mvn 各种命令的时候，默认是去 maven 官方镜像源获取需要安装的具体软件信息</p>
                    <p>默认源地址在国外，从国内访问的速度肯定比较慢</p>
                    <h3 id="如何修改镜像源">如何修改镜像源</h3>
                    <p>阿里巴巴维护着一个国内 maven 镜像源</p>
                    <h4 id="a---配置只在当前项目生效">a). 配置只在当前项目生效</h4>
                    <p>在 pom.xml 文件内添加以下配置</p>
                    <pre><div class="vditor-copy"><textarea></textarea><span aria-label="复制" onmouseover="this.setAttribute('aria-label', '复制')" class="vditor-tooltipped vditor-tooltipped__w" onclick="this.previousElementSibling.select();document.execCommand('copy');this.setAttribute('aria-label', '已复制')"><svg><use xlink:href="#vditor-icon-copy"></use></svg></span></div><code class="language-xml hljs" style="max-height: 921px;"><span class="hljs-tag">&lt;<span class="hljs-name">repositories</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">repository</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">id</span>&gt;</span>ali-maven<span class="hljs-tag">&lt;/<span class="hljs-name">id</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">url</span>&gt;</span>http://maven.aliyun.com/nexus/content/groups/public<span class="hljs-tag">&lt;/<span class="hljs-name">url</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">repository</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">repositories</span>&gt;</span>
</code></pre>
                    <h4 id="b---配置全局生效">b). 配置全局生效</h4>
                    <p>修改 settings.xml 文件</p>
                    <p>找到 <mirrors> 标签，在里面加入以下内容</mirrors></p>
                    <pre><div class="vditor-copy"><textarea></textarea><span aria-label="复制" onmouseover="this.setAttribute('aria-label', '复制')" class="vditor-tooltipped vditor-tooltipped__w" onclick="this.previousElementSibling.select();document.execCommand('copy');this.setAttribute('aria-label', '已复制')"><svg><use xlink:href="#vditor-icon-copy"></use></svg></span></div><code class="language-xml hljs" style="max-height: 921px;"><span class="hljs-tag">&lt;<span class="hljs-name">mirror</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">id</span>&gt;</span>alimaven<span class="hljs-tag">&lt;/<span class="hljs-name">id</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">name</span>&gt;</span>aliyun maven<span class="hljs-tag">&lt;/<span class="hljs-name">name</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">url</span>&gt;</span>http://maven.aliyun.com/nexus/content/groups/public/<span class="hljs-tag">&lt;/<span class="hljs-name">url</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mirrorOf</span>&gt;</span>central<span class="hljs-tag">&lt;/<span class="hljs-name">mirrorOf</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mirror</span>&gt;</span>
</code></pre>
                    <p>可以在以下路径查找到 settings.xml 文件</p>
                    <ol>
                        <li>
                            <p>(用户家目录)/.m2/settings.xml</p>
                        </li>
                        <li>
                            <p>(maven安装目录)/conf/settings.xml，</p>
                            <p>如果是 Mac 系统通过 brew 命令安装的，在这里：</p>
                            <p>/usr/local/Cellar/maven/(版本号)/libexec/conf/settings.xml</p>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="col-lg-3 offset-lg-1">
                <div id="outline" class="js-toc toc sticky-top d-none d-lg-block animate__animated animate__fadeInRight animate__delay-1s"></div>
            </div>
        </div>
    </section>

    <div id="js">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/vendor/tocbot/dist/tocbot.js"></script>
        <script>
            $(function() {
                tocbot.init({
                    // Where to render the table of contents.
                    tocSelector: '.js-toc',
                    // Where to grab the headings to build the table of contents.
                    contentSelector: '.js-toc-content',
                    // Which headings to grab inside of the contentSelector element.
                    headingSelector: 'h1, h2, h3, h4, h5, h6',
                    // For headings inside relative or absolute positioned containers within content.
                    hasInnerContainers: false,
                    collapseDepth: 6,
                });
                $(".js-toc a.toc-link").mouseover(function () {
                    $(this).attr('title', $(this).text());
                });
                $('.js-toc a.toc-link').on('click', function(e){
                    //store hash
                    const href = $(this).attr("href");
                    const hash = href.substr(href.indexOf("#"));
                    // animate
                    $(hash).animateCss('slow');
                    $(hash).animateCss('flash');
                });
            });
        </script>
    </div>
</div>
