<div th:replace="~{ app :: layout ('博客列表', _, ~{::#main}, _) }" xmlns:th="http://www.thymeleaf.org">
    <main id="main" class="my-2rem">
        <div class="container">
            <div class="row">
                <div class="col-md-6" th:each="blog, stats: ${blogs}">
                    <article th:class="|border-bottom h-100 pb-5 ${stats.index > 0 ? 'pt-5' : '' } ${ stats.index < 2 ? 'pt-md-0' : '' }|">
                        <div class="row justify-content-between">
                            <div class="col-7">
                                <h2 class="mb-2 h5"><a href="/blog/1" th:text="${blog.title}">||||||||||||||||||||||||||||||</a></h2>
                                <div class="small text-muted">
                                    <a href="#">admin</a>
                                    <span> - </span>
                                    <span>2024-11-18 08:35:28</span>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="d-flex">
                                    <a href="/blog/1" class="w-100">
                                        <img class="img-fluid shadow-sm rounded ratio-16x9" th:src="${blog.cover}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </main>
</div>