<div th:replace="~{ app :: layout ('个人主页', _, ~{::#main}, _) }" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

  <div class="container user-center my-2rem" id="main">
    <div class="row">
      <div class="col-lg-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="text-center">
              <img src="/img/default-avatar.png" class="img-fluid rounded-circle avatar shadow-sm">
              <p sec:authentication="name" class="text-muted font-size-14 mt-2 mb-2rem">user-name</p>
            </div>

            <ul class="nav flex-column">
              <li class="nav-item">
                <a href="#" th:href="@{/user/dashboard}" class="nav-link" th:class="|nav-link ${#strings.startsWith(requestURI, '/user/dashboard') ? ' active' : ''}|">
                  <i class="bi bi-info-circle"></i>
                  个人资料
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-9 mt-3 mt-lg-0">
        <div class="card shadow-sm">
          <div class="card-header">
            个人资料
          </div>
          <div class="card-body">
            <p class="item">
              用户名：<span sec:authentication="name"></span>
            </p>
            <p class="item">
              邮&emsp;箱：<span sec:authentication="principal.user.email"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>