<div th:replace="~{ app :: layout ('用户注册', _, ~{::#main}, ~{::#js}) }" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <div id="main" class="container my-2rem">
    <form action="" th:action="@{/user/register}" method="post"  th:object="${user}">
      <div class="form-group">
        <label for="email">邮箱</label>
        <input th:field="*{email}" id="email" placeholder="邮箱" th:class="${#fields.hasErrors('email') ? 'is-invalid' : ''}" type="text" name="email" value="" required autofocus oninput="fillUsernameFromEmail()">
        <span th:if="${#fields.hasErrors('email')}" class="error invalid-feedback" th:errors="*{email}"></span>
      </div>
      <input id="name" placeholder="用户名" type="text" name="name" value="" required>
      <input id="password" placeholder="密码" type="password" name="password" value="" required>
      <button type="submit">注册</button>
    </form>
  </div>

  <script id="js">
    function fillUsernameFromEmail(){
    let emailInput = document.getElementById('email');
    let nameInput = document.getElementById('name');

    let emailValue = emailInput.value;
    let username = emailValue.split("@")[0];
    nameInput.value = username;
    }
  </script>
</div>