.blog-show {
  margin-bottom: 2rem;

  h1 {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    font-size: $h2-font-size; //2rem = 32px
  }

  .meta {
    font-size: $font-size-sm;
  }
}