#hero-content {
  padding-top: 3rem;
  padding-bottom: 3rem;

  h1 {
    font-weight: $font-weight-normal;
    margin-bottom: 1rem;
  }

  .subtitle {
    margin-bottom: 0;
  }
}

.feature {
  padding: 5rem 0;

  .feature-title {
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &:last-child {
    margin-bottom: 5rem;
  }
}