<div th:replace="~{ app :: layout ('首页', _, ~{::#main}, _) }" xmlns:th="http://www.thymeleaf.org">
    <main id="main" class="my-2rem">
        <div class="container">
            <p class="text-primary" th:if="${param.error}">Invalid username and password.</p>
            <form th:action="@{/login}" method="post">
                <input type="text" name="username" placeholder="请输入用户名">
                <input type="password" name="password" placeholder="请输入密码">
                <input type="submit" name="login">
            </form>
        </div>
    </main>
</div>