<div th:replace="~{ app :: layout ('首页', _, ~{::#main}, _) }" xmlns:th="http://www.thymeleaf.org">
    <main id="main" class="my-2rem">
        <div class="container">
            <p class="text-primary" th:if="${param.error}">Invalid username and password.</p>
            <form th:action="@{/login}" method="post">
                <input type="email" name="email" placeholder="请输入邮箱">
                <input type="password" name="password" placeholder="请输入密码">

                <input class="form-check-input" type="checkbox" name="remember-me" id="remember-me" >
                <label class="form-check-label" for="remember-me">记住我</label>

                <input type="submit" name="login">
            </form>
        </div>
    </main>
</div>