<!DOCTYPE html>
<div th:replace="~{ backend/app :: layout ('添加博客', ~{backend/fragment::#css}, ~{::#main}, ~{backend/fragment::#js}) }" xmlns:th="http://www.thymeleaf.org">

    <div class="content-wrapper" id="main">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-12 d-flex justify-content-between">
                        <h1>添加博客</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- card-body -->
            <div class="card-body">
                <form method="post" action="/backend/blog/add" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title">博客标题</label>
                        <input type="text" id="title"  th:class="|form-control ${errorTitle != null ? 'is-invalid' : ''}|" name="title" placeholder="请输入博客标题">
                        <span th:if="${errorTitle != null}" id="error-title" class="error invalid-feedback" th:text="${errorTitle}"></span>
                    </div>
                    <div class="form-group">
                        <label for="content">博客内容</label>
                        <textarea id="content" class="form-control d-none" rows="4" name="content"></textarea>
                        <div id="markdown-container" style="height:600px"></div>
                    </div>
                    <div class="form-group">
                        <label for="content">博客描述</label>
                        <textarea class="form-control" name="description" id="description" cols="30" rows="5" th:text="${blog.description}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="cover">封面图片</label>
                        <div>
                            <input type="file" name="coverImage" id="cover" class="d-block">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">保存</button>
                </form>
            </div>
            <!-- /.card-body -->
        </section>
        <!-- /.content -->
    </div>

</div>