<!DOCTYPE html>
<div th:replace="~{ backend/app :: layout ('添加博客', ~{::#css}, ~{::#main}, ~{::#js}) }" xmlns:th="http://www.thymeleaf.org">
    <style id="css">
        /* 覆盖 Cherry Markdown 全屏模式的 z-index */
        .cherry.fullscreen {
            z-index: 1050 !important; /* 确保 z-index 足够大，覆盖其他元素 */
        }
    </style>

    <div class="content-wrapper" id="main">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-12 d-flex justify-content-between">
                        <h1>添加博客</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- card-body -->
            <div class="card-body">
                <form method="post" action="/backend/blog/add" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title">博客标题</label>
                        <input type="text" id="title" class="form-control" name="title" placeholder="请输入博客标题">
                    </div>
                    <div class="form-group">
                        <label for="content">博客内容</label>
                        <textarea id="content" class="form-control d-none" rows="4" name="content"></textarea>
                        <div id="markdown-container" style="height:600px"></div>
                    </div>
                    <div class="form-group">
                        <label for="cover">封面图片</label>
                        <div>
                            <input type="file" name="coverImage" id="cover" class="d-block">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">保存</button>
                </form>
            </div>
            <!-- /.card-body -->
        </section>
        <!-- /.content -->
    </div>

    <script type="module" id="js">
        const cherryInstance = new Cherry({
            id: 'markdown-container',
            value: '',
            toolbars: {
                // 定义顶部工具栏
                //toolbar: ['bold','italic','strikethrough','|','color','header','ruby','|','list','panel','detail'],
                // 定义侧边栏，默认为空
                sidebar: ['theme'],
                // 定义顶部右侧工具栏，默认为空
                toolbarRight: ['fullScreen', 'export'],
                // 定义选中文字时弹出的“悬浮工具栏”，默认为 ['bold', 'italic', 'underline', 'strikethrough', 'sub', 'sup', 'quote', '|', 'size', 'color']
                bubble: false,
                // 定义光标出现在行首位置时出现的“提示工具栏”，默认为 ['h1', 'h2', 'h3', '|', 'checklist', 'quote', 'table', 'code']
                float: false,
            }
        });
    </script>
</div>