<!DOCTYPE html>
<div th:replace="~{ backend/app :: layout ('添加博客', ~{backend/fragment::#css}, ~{::#main}, ~{backend/fragment::#js}) }" xmlns:th="http://www.thymeleaf.org">

    <div class="content-wrapper" id="main">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-12 d-flex justify-content-between">
                        <h1>添加博客</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- card-body -->
            <div class="card-body">
                <form method="post" action="/backend/blog/add" enctype="multipart/form-data" th:object="${blog}">
                    <div class="form-group">
                        <label for="title">博客标题</label>
                        <input th:field="*{title}" type="text" class="form-control" th:class="|form-control ${#fields.hasErrors('title') ? 'is-invalid' : ''}|" id="title" name="title" placeholder="请输入博客标题">
                        <span th:if="${#fields.hasErrors('title')}" class="error invalid-feedback" th:errors="*{title}"></span>
                    </div>
                    <div class="form-group">
                        <label for="content">博客内容</label>
                        <textarea class="form-control d-none" name="content" id="content" cols="30" rows="10" th:utext="*{content}"></textarea>
                        <div id="markdown-container" style="height:600px" th:class="${#fields.hasErrors('content') ? 'form-control is-invalid' : ''}"></div>
                        <span th:if="${#fields.hasErrors('content')}" class="error invalid-feedback" th:errors="*{content}"></span>
                    </div>
                    <div class="form-group">
                        <label for="content">博客描述</label>
                        <textarea class="form-control" th:class="|form-control ${#fields.hasErrors('description') ? 'is-invalid' : ''}|" name="description" id="description" cols="30" rows="5" th:field="*{description}"></textarea>
                        <span th:if="${#fields.hasErrors('description')}" class="error invalid-feedback" th:errors="*{description}"></span>
                    </div>
                    <div class="form-group">
                        <label for="cover">封面图片</label>
                        <div>
                            <input type="file" name="coverImage" id="cover" class="d-block">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">保存</button>
                </form>
            </div>
            <!-- /.card-body -->
        </section>
        <!-- /.content -->
    </div>

</div>