<!DOCTYPE html>
<div th:replace="~{ backend/app :: layout ('修改博客', ~{backend/fragment::#css}, ~{::#main}, ~{backend/fragment::#js}) }" xmlns:th="http://www.thymeleaf.org">
    <div class="content-wrapper" id="main">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-12 d-flex justify-content-between">
                        <h1>修改博客</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- card-body -->
            <div class="card-body">
                <form method="post" action="/backend/blog/update" enctype="multipart/form-data" th:object="${blog}">
                    <div th:replace="~{backend/fragment :: #blog-form-items}"></div>
                    <button type="submit" class="btn btn-primary">修改</button>
                </form>
            </div>
            <!-- /.card-body -->
        </section>
        <!-- /.content -->
    </div>
</div>