<!DOCTYPE html>
<div th:replace="~{ backend/app :: layout ('修改博客', _, ~{::#main}, _) }" xmlns:th="http://www.thymeleaf.org">
    <div class="content-wrapper" id="main">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-12 d-flex justify-content-between">
                        <h1>修改博客</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- card-body -->
            <div class="card-body">
                <form method="post" action="/backend/blog/update">
                    <input type="hidden" name="id" th:value="${blog.id}">
                    <div class="form-group">
                        <label for="title">博客标题</label>
                        <input type="text" id="title" class="form-control" name="title" th:value="${blog.title}" placeholder="请输入博客标题">
                    </div>
                    <div class="form-group">
                        <label for="content">博客内容</label>
                        <textarea id="content" class="form-control" rows="4" name="content" th:utext="${blog.content}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="cover">封面图片</label>
                        <div class="mb-2" th:if="${!#strings.isEmpty(blog.cover)}">
                            <img th:src="${blog.cover}" alt="当前封面图" style="max-width: 200px; max-height: 200px;">
                        </div>
                        <div>
                            <input type="file" name="coverImage" id="cover" class="d-block">
                            <input type="hidden" name="cover" th:value="${blog.cover}">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">修改</button>
                </form>
            </div>
            <!-- /.card-body -->
        </section>
        <!-- /.content -->
    </div>
</div>